{% extends "../layouts/app.twig" %}

{% block title %}Edit{% endblock %}

{% block content %}
  <div class="mt-5">
    {% include "../common/errors.twig" %}
    <form action="/users/{{ user._id }}/" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <div class="col-sm-6 offset-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" class="form-control" name="name" value="{{ old.name != undefined ? old.name : user.name }}" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" class="form-control" name="email" value="{{ old.email != undefined ? old.email : user.email }}" required>
        </div>
        <a href="/users" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
{% endblock %}
